.profiles-profile-side-bar{
    display: flex;
    flex-direction: column;
    float: left;
    background-color: #3B4252;
    width: 450px;
    max-height: 100%; 
    height: 1024px;
    color: #ECEFF4;
}
.profiles-profile-side-bar__image{
    align-self: center;
    width: 250px;
    margin-top: 30px;
}
.profiles-profile-side-bar__name{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 300;
}
.profiles-profile-side-bar__username{
    font-size: 28px;
    margin-left: 20px;
    font-weight: 300;
}
.profiles-profile-side-bar__bio{
  font-style: normal;
  font-size: 18px;
  text-align: left;
  margin: 5px 10px;
}
.profiles-profile-side-bar__info{
    display: inline-flex;
    margin-top: 10px;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 300;
    white-space: nowrap;
    
}
.profiles-profile-side-bar__connect{
    display: flex;
    flex-direction: column;
    line-height: 35px;
    font-size: 20px;
    font-weight: 300;
    margin:15px;
}
.icons-connect{
    margin-right: 15px;
}
.profiles-profile-side-bar__button{
    padding: 10px;
    margin-top: 20px;
}
.profiles-profile__icon-back{
    display: none;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background:  #3B4252;
    border-radius: 10px;
}
@media screen and (max-width:800px){
    .profiles-profile{
        display: flex;
        flex-direction: column;
    }
    .profiles-profile-side-bar{
        display: flex;
        min-width:100%;
        padding-bottom: 5px; 
        color: #ECEFF4;
        max-height: 400px;
    }
    .profiles-profile-side-bar__image{
        max-width: 200px;
        margin: 20px 5px;
    }
    .profiles-profile-side-bar__name{
        font-size: 30px;
        margin-top:5px;
        margin-left: 15px;
    }
    .profiles-profile-side-bar__username{
        font-size: 15px;
        margin-left: 15px;
    }
    .profiles-profile-side-bar__bio{
      font-size: 15px;
      text-align: left;
      margin: 5px 10px;
    }
    .profiles-profile-side-bar__info{
        display: inline-flex;
        justify-content: space-around;
        
    }
    .profiles-profile-side-bar__connect{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        white-space: nowrap;
        line-height: 20px;
        font-size: 18px;
        margin-left: 5px;
        margin-top: 15px;
    }
    .icons-connect{
        margin-right: 5px;
    }
    .profiles-profile-side-bar__button{
        display: none;
    }
    .profiles-profile__icon-back{
        display: inline;
        position: absolute;

        font-size: 50px;
    }

    ::-webkit-scrollbar-thumb {
        background:  #919191;
    }
}
@media screen and (max-width:430px){
    .profiles-profile-side-bar{
        display: flex;
        max-width:100%;
        padding-bottom: 10px;
        color: #ECEFF4;
        height: 350px;
    }
    .profiles-profile-side-bar__image{
        max-width: 150px;
        margin: 30px 5px;
    }
    .profiles-profile-side-bar__name{
        margin-top:5px;
        margin-left: 10px;
    }
    .profiles-profile-side-bar__username{
        font-size: 12px;
        margin-left: 10px;
    }
    .profiles-profile-side-bar__bio{
      margin: 5px 10px;
    }
    .profiles-profile-side-bar__info{
        font-size: 15px;
    }
    .profiles-profile-side-bar__connect{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        white-space: nowrap;
        font-size: 15px;
        margin-top: 10px;
    }
    .icons-connect{
        margin-right: 0px;
    }
    .profiles-profile-side-bar__button{
        display: none;
    }
    .profiles-profile__icon-back{
        display: inline;
        position: absolute;
        top: 10px;
        font-size: 30px;
    }
}