.profiles-search{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.profiles-search__title{
    color: #3B4252;
    font-size: 40px;
    text-align: center;    
    padding: 5px;
}
.profiles-search-form{
    display: flex;
    width: 520px;
    height: 50px;
}
.profiles-search-form__input{
    border: 1px solid #3B4252;
    border-top-left-radius:  5px;
    border-bottom-left-radius:  5px;
    width: 75%;
    outline: none;
}
.profiles-search-form__input::placeholder{
    font-size: 18px;
    padding-left: 10px;
}
.profiles-search-form__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B4252;
    width: 25%;
    color: #fff;
    font-size: 22px;
    line-height: 62px;
    border-top-right-radius:  5px;
    border-bottom-right-radius:  5px;
    border: none;
    cursor: pointer;
}
.profiles-search-form__button__search{
    background-color: transparent;
    margin-right: 3px;
}
.profiles-profile-side-bar__button{
    margin-top: 30px;
    width: 50%;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
}
@media screen and (max-width:560px){
    .profiles-search{
        margin-top: 80px;
    }
    .profiles-search__title{
        font-size: 30px;
    }
    .profiles-search-form{
        display: flex;
        width: 300px;
        height: 30px;
    }
    .profiles-search-form__input{
        width: 75%;
    }
    .profiles-search-form__input::placeholder{
        font-size: 12px;
    }
    .profiles-search-form__button{
        color: #fff;
        font-size: 12px;
    }
}